{% if S_SHOW_AJAX_PREVIEW %}
<script>
/** Initialise the preview config **/
var preview = {
	timer:	false,
	time:	{{ REFRESH_TIME }},
	url:	'{{ U_PREVIEW_AJAX }}',
	prev:	'{{ lang("PREVIEW")|escape("js") }}{{ lang("COLON")|escape("js") }} ',
	data:	'{{ PREVIEW_DATA }}',
	sign:	{% if S_IN_SIGNATURE %}true{% else %}false{% endif %},
};
/** Start the preview on document loaded **/
$(document).ready(function() {
	preview.runAjax();
	if(preview.timer === false){
		preview.timer = setInterval(preview.runAjax, preview.time);
	}
});
(function($){  // Avoid conflicts with other libraries
	'use strict';

	/** Modify the Dom **/
	if(preview.sign){
		$('div.signature').first().attr('id', 'ajax-preview');
	}else{
		$('#preview').addClass('panel');
		$('div.postbody > h3').first().attr('id', 'h3-subject');
		$('div.content').first().attr('id', 'ajax-preview');
		$('#ajax-preview').css({'overflow':'hidden auto', 'max-height':'260px'});
		$('#message').on('scroll', function(){
			$('#ajax-preview').scrollTop($(this).scrollTop());
		});
		$('#ajax-preview').on('scroll', function(){
			$('#message').scrollTop($(this).scrollTop());
		});
	}

	/** Run and Refresh the preview  **/
	preview.runAjax = async function(){
		if($('#'+preview.data).val() !== ''){
			var $contentData = 'content='+encodeURIComponent($('#'+preview.data).val());
			$contentData += (!preview.sign && $('#subject').val() !== '') ? '&subject='+encodeURIComponent($('#subject').val()) : '';
			if(!preview.sign){
				var $plupload = preview.getPluploadData();
				if($plupload !== ''){
					$contentData += $plupload+'&total='+phpbb.plupload.data.length;
				}
			}
			try{
				const response = await $.ajax({
					url: preview.url,
					method: 'POST',
					dataType: 'json',
					data: $contentData,
				});
				preview.handleSuccess(response);
			}catch(error){
				clearInterval(preview.timer);
				preview.timer = setInterval(preview.runAjax, preview.time);
			}
		}else{
			$('#ajax-preview').html('');
			if ($('#subject').val() === ''){
				$('#h3-subject').html('');
			}
		}
	};

	/** Refresh the Dom now **/
	preview.handleSuccess = function(response){
		$('#ajax-preview').html(response.content);
		if(!preview.sign){
			$('#h3-subject').html(preview.prev+' '+response.subject);
		}
	}

	/** Get attachements files in the data plupload array **/
	preview.getPluploadData = function(){
		var $plupload = phpbb.plupload.data, $data = '';
		if($plupload !== ''){
			for(var i = 0; i < $plupload.length; i++){
				$data += '&plupload-'+i+'=';
				$data += $plupload[i]["attach_id"];
				$data += ','+$plupload[i]["is_orphan"];
				$data += ','+$plupload[i]["attach_comment"];
				$data += ','+$plupload[i]["real_filename"];
				$data += ','+$plupload[i]["filesize"];
			}
		}
		return $data;
	}
})(jQuery);
</script>
{% endif %}
